.menu-item {
	min-width: 30%;
	height: 240px;
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	border: 1px black solid;
	margin: 0 7.5px 15px;
	&:first-child {
		margin-right: 8px;
	}
	&:last-child {
		margin-left: 8px;
	}
}
